<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Souls"
        tools:targetApi="31">
        <activity
            android:name=".user_info"
            android:exported="false" />
        <activity
            android:name=".forum_homepage"
            android:exported="false" />
        <activity
            android:name=".forum_confirmation_ui"
            android:exported="false" />
        <activity
            android:name=".donate_confirmation_ui"
            android:exported="false" />
        <activity
            android:name=".final_confirmation_for_request"
            android:exported="false" />
        <activity
            android:name=".user_info_form_for_home_request_btn"
            android:exported="false" />
        <activity
            android:name=".flow1_homepage"
            android:exported="false" />
        <activity
            android:name=".form_red"
            android:exported="false" />
        <activity
            android:name=".layout2"
            android:exported="false" />
        <activity
            android:name=".confirmation"
            android:exported="false" />
        <activity
            android:name=".recipient_info"
            android:exported="false" />
        <activity
            android:name=".donor_info"
            android:exported="false" />
        <activity
            android:name=".notification"
            android:exported="false" />
        <activity
            android:name=".activity_signup2"
            android:exported="false" />
        <activity
            android:name=".signup1"
            android:exported="false" />
        <activity
            android:name=".login_activity"
            android:exported="false" />
        <activity
            android:name=".activity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>